@charset "UTF-8";
@import url(./style.css);

@media (min-width: 769px) and (max-width: 1140px) {

    .header--area {
        padding: 0px 35px;
    }

}

@media (min-width: 431px) and (max-width: 768px) {

    .header--area {
        padding: 0px 35px;
    }

    .area1 {
        grid-template-columns: 3fr 2fr;
    }

    .area2 {
        grid-template-columns: 2fr 3fr;
    }

    .area1--text, 
    .area2--text, 
    .area3--text,
    .area4--text {
        width: 250px;
    }

    .area5 {
        height: 450px;
    }

}

@media (min-width: 320px) and (max-width: 430px) {
    
    .header--area {
        padding: 0px 25px;
    }

    .header--search input {
        max-width: 150px;
    }

    h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .banner--images img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        border: 4px solid #117050;
    }

    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content {
        padding: 40px;
    }

    .area1--text, 
    .area2--text, 
    .area3--text,
    .area4--text {
        width: 100%;
    }

    .area5 {
        height: 200px;
    }

    footer {
        font-size: 14px;
    }

    .footer--paragraph1 {
        margin-bottom: 80px;
    }

}

@media (max-width: 320px) {
    
    .header--area {
        padding: 0px 35px;
    }

    .header--search {
        max-width: 120px;
    }

    .header--menu {
        margin-left: 22px;
    }

    h2 {
        font-size: 30px;
        line-height: 38px;
    }

}